h1= title
p Welcome to #{title}

#editor(style="height:500px;width:500px;")
	bladiblub

script(src="javascripts/ace.js", type="text/javascript")
script(src="javascripts/mode-php.js", type="text/javascript")
script(src="javascripts/theme-vibrant_ink.js", type="text/javascript")
script(src="/socket.io/socket.io.js", type="text/javascript")
script(src="javascripts/loader.js", type="text/javascript")
	